### Bank Note Authentication

Data were extracted from images that were taken from genuine and forged banknote-like specimens. For digitization, an industrial camera usually used for print inspection was used. The final images have 400x 400 pixels. Due to the object lens and distance to the investigated object gray-scale pictures with a resolution of about 660 dpi were gained. Wavelet Transform tool were used to extract features from images.

In [1]:
##Dataset Link: https://www.kaggle.com/ritesaluja/bank-note-authentication-uci-data

In [2]:
! pip install pandas

Collecting pandas
  Using cached pandas-1.1.5-cp36-cp36m-manylinux1_x86_64.whl (9.5 MB)
Requirement already satisfied: numpy>=1.15.4 in /home/urvi/.local/lib/python3.6/site-packages (from pandas) (1.17.3)
Requirement already satisfied: pytz>=2017.2 in /home/urvi/.local/lib/python3.6/site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/urvi/.local/lib/python3.6/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /home/urvi/.local/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas) (1.13.0)
Installing collected packages: pandas
Successfully installed pandas-1.1.5

In [3]:
! pip install numpy

Requirement already satisfied: numpy in /home/urvi/.local/lib/python3.6/site-packages (1.17.3)

In [4]:
! pip install scikit-learn

Requirement already satisfied: scikit-learn in /home/urvi/.local/lib/python3.6/site-packages (0.23.2)
Collecting joblib>=0.11
  Downloading joblib-1.0.1-py3-none-any.whl (303 kB)
     |████████████████████████████████| 303 kB 355 kB/s eta 0:00:01
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/urvi/.local/lib/python3.6/site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in /home/urvi/.local/lib/python3.6/site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: numpy>=1.13.3 in /home/urvi/.local/lib/python3.6/site-packages (from scikit-learn) (1.17.3)
Installing collected packages: joblib
Successfully installed joblib-1.0.1

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('BankNote_Authentication.csv')

In [4]:
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [5]:
df.head(20)

    variance  skewness  curtosis  entropy  class
0    3.62160    8.6661  -2.80730 -0.44699      0
1    4.54590    8.1674  -2.45860 -1.46210      0
2    3.86600   -2.6383   1.92420  0.10645      0
3    3.45660    9.5228  -4.01120 -3.59440      0
4    0.32924   -4.4552   4.57180 -0.98880      0
5    4.36840    9.6718  -3.96060 -3.16250      0
6    3.59120    3.0129   0.72888  0.56421      0
7    2.09220   -6.8100   8.46360 -0.60216      0
8    3.20320    5.7588  -0.75345 -0.61251      0
9    1.53560    9.1772  -2.27180 -0.73535      0
10   1.22470    8.7779  -2.21350 -0.80647      0
11   3.98990   -2.7066   2.39460  0.86291      0
12   1.89930    7.6625   0.15394 -3.11080      0
13  -1.57680   10.8430   2.54620 -2.93620      0
14   3.40400    8.7261  -2.99150 -0.57242      0
15   4.67650   -3.3895   3.48960  1.47710      0
16   2.67190    3.0646   0.37158  0.58619      0
17   0.80355    2.8473   4.34390  0.60170      0
18   1.44790   -4.8794   8.34280 -2.10860      0
19   5.24230   11.0272  -4.35300 -4.10130      0

In [6]:
df.head(30)

    variance  skewness  curtosis  entropy  class
0    3.62160    8.6661  -2.80730 -0.44699      0
1    4.54590    8.1674  -2.45860 -1.46210      0
2    3.86600   -2.6383   1.92420  0.10645      0
3    3.45660    9.5228  -4.01120 -3.59440      0
4    0.32924   -4.4552   4.57180 -0.98880      0
5    4.36840    9.6718  -3.96060 -3.16250      0
6    3.59120    3.0129   0.72888  0.56421      0
7    2.09220   -6.8100   8.46360 -0.60216      0
8    3.20320    5.7588  -0.75345 -0.61251      0
9    1.53560    9.1772  -2.27180 -0.73535      0
10   1.22470    8.7779  -2.21350 -0.80647      0
11   3.98990   -2.7066   2.39460  0.86291      0
12   1.89930    7.6625   0.15394 -3.11080      0
13  -1.57680   10.8430   2.54620 -2.93620      0
14   3.40400    8.7261  -2.99150 -0.57242      0
15   4.67650   -3.3895   3.48960  1.47710      0
16   2.67190    3.0646   0.37158  0.58619      0
17   0.80355    2.8473   4.34390  0.60170      0
18   1.44790   -4.8794   8.34280 -2.10860      0
19   5.24230   11.0272  -4.35300 -4.10130      0
20   5.78670    7.8902  -2.61960 -0.48708      0
21   0.32920   -4.4552   4.57180 -0.98880      0
22   3.93620   10.1622  -3.82350 -4.01720      0
23   0.93584    8.8855  -1.68310 -1.65990      0
24   4.43380    9.8870  -4.67950 -3.74830      0
25   0.70570   -5.4981   8.33680 -2.87150      0
26   1.14320   -3.7413   5.57770 -0.63578      0
27  -0.38214    8.3909   2.16240 -3.74050      0
28   6.56330    9.8187  -4.41130 -3.22580      0
29   4.89060   -3.3584   3.42020  1.09050      0

In [7]:
df.head(100)

    variance  skewness  curtosis   entropy  class
0    3.62160    8.6661  -2.80730 -0.446990      0
1    4.54590    8.1674  -2.45860 -1.462100      0
2    3.86600   -2.6383   1.92420  0.106450      0
3    3.45660    9.5228  -4.01120 -3.594400      0
4    0.32924   -4.4552   4.57180 -0.988800      0
..       ...       ...       ...       ...    ...
95  -0.64472   -4.6062   8.34700 -2.709900      0
96   2.95430    1.0760   0.64577  0.893940      0
97   2.16160   -6.8804   8.15170 -0.081048      0
98   3.82000   10.9279  -4.01120 -5.028400      0
99  -2.74190   11.4038   2.53940 -5.579300      0

[100 rows x 5 columns]

In [8]:
df

      variance  skewness  curtosis  entropy  class
0      3.62160   8.66610   -2.8073 -0.44699      0
1      4.54590   8.16740   -2.4586 -1.46210      0
2      3.86600  -2.63830    1.9242  0.10645      0
3      3.45660   9.52280   -4.0112 -3.59440      0
4      0.32924  -4.45520    4.5718 -0.98880      0
...        ...       ...       ...      ...    ...
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

[1372 rows x 5 columns]

In [9]:
# Independent and Dependent Features
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [10]:
X.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [11]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

In [15]:
# Train Test Split
from sklearn.model_selection import train_test_split

In [16]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [17]:
# Implement Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier()
classifier.fit(X_train,y_train)

RandomForestClassifier()

In [18]:
## Prediction
y_pred=classifier.predict(X_test)

In [19]:
### Check Accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)

In [20]:
score

0.9902912621359223

In [21]:
### Create a Pickle file using serialization 
import pickle
pickle_out = open("classifier.pkl","wb")
pickle.dump(classifier, pickle_out)
pickle_out.close()

In [22]:
classifier.predict([[2,3,4,1]])

array([0])